[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
requests = "*"
pyodbc = "*"
jupyter = "*"
findspark = "*"
python-dotenv = "*"
pyspark = "*"
pandas = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
